In [42]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]


def make_global_df():
    def make_df(condtion):
        df = pd.read_csv(f"data/time_{condition}.csv")
        df = df.drop(["Province/State", "Country/Region", "Lat",
                      "Long"], axis=1).sum().reset_index(name=condition)
        df = df.rename(columns={"index": "date"})
        return df


    final_df = None

    for condition in conditions:
        condition_df = make_df(condition)
        if final_df is None:
            final_df = condition_df
        else:
            final_df = final_df.merge(condition_df)
    return final_df

global_df = make_global_df()
global_df

         date  confirmed   deaths  recovered
0     1/22/20        555       17         28
1     1/23/20        654       18         30
2     1/24/20        941       26         36
3     1/25/20       1434       42         39
4     1/26/20       2118       56         52
..        ...        ...      ...        ...
344  12/31/20   83424446  1818116   47010049
345    1/1/21   83963772  1827540   47289078
346    1/2/21   84586904  1835788   47595212
347    1/3/21   85122080  1843135   47860306
348    1/4/21   85672034  1853334   48148226

[349 rows x 4 columns]