In [32]:
import pandas as pd

df = pd.read_csv("data/time_confirmed.csv")
df = df.loc[df["Country/Region"]=="Afghanistan"]
df = df.drop(columns=["Province/State", "Country/Region","Lat", "Long"]).sum().reset_index(name="confirmed")
df = df.rename(columns={"index":"date"}

        index  confirmed
0     1/22/20          0
1     1/23/20          0
2     1/24/20          0
3     1/25/20          0
4     1/26/20          0
..        ...        ...
344  12/31/20      51526
345    1/1/21      51526
346    1/2/21      51526
347    1/3/21      51526
348    1/4/21      53011

[349 rows x 2 columns]